button,
.button {
  display: inline-block;
  min-width: 150px;
  margin-bottom: var(--space-small);
  padding: var(--space-small) var(--space-medium);
  background-color: white;
  border: solid 4px var(--color-secondary);
  color: var(--color-secondary);
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  text-decoration: none;
}
button .primary,
.button.primary {
  background-color: var(--color-secondary);
  color: var(--color-text-light);
}

/* Desktop */
button,
.button {
  font-size: 28px;
}
