button,
.button {
  display: inline-block;
  min-width: 150px;
  margin-bottom: var(--space-small);
  padding: var(--space-small) var(--space-medium);
  background-color: white;
  border: solid 4px var(--color-secondary);
  color: var(--color-secondary);
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  text-decoration: none;
}

button:hover,
.button:hover {
  text-decoration: underline;
  cursor: default;
}

button.primary,
.button.primary {
  background-color: var(--color-secondary);
  color: var(--color-text-light);
}

/* Desktop */
@media (min-width: 750px) {
  button,
  .button {
    font-size: 28px;
  }
}
