.item-project {
  border: none;
  background: none;
  text-align: left;
}

.item-project img {
  --border-width: 4px;
}

.item-project img {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  margin-bottom: var(--space-small);
  border: solid var(--border-width) transparent;
}

/* Mouse over effect */
.item-project:hover img {
  border: solid var(--border-width) var(--color-text-dark);
  filter: saturate(150%);
}
