.item-technology .icon {
  --size: 32px;

  width: var(--size);
  height: var(--size);
  margin-bottom: var(--space-small);
  padding: var(--space-small);
  background-color: var(--color-secondary);
  border: solid var(--border-width) transparent;
  color: var(--color-primary);
}

/* Mouse over effect */
.item-technology:hover .icon {
  border: solid var(--border-width) var(--color-primary);
}
