.item-project {
  border: none;
  background: none;
}

.item-project img {
  box-sizing: border-box;
  border: solid 4px transparent;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.item-project:hover img {
  border: solid var(--color-text-dark) 4px;
  filter: saturate(150%);
}
