.item-contact {
  display: flex;
  align-items: center;
  gap: var(--space-small);
  color: var(--color-text-light);
}

.item-contact .icon {
  --size: 16px;

  width: var(--size);
  height: var(--size);
  padding: var(--space-small);
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 100%;
}
