.item-project {
  border: none;
  background: none;
}

.item-project:hover {
  text-decoration: underline;
}

.item-project img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: var(--border-radius);
}
