.modal-project {
  background-color: white;
  width: 300px;
}

.modal-project .content {
  padding: var(--space-medium);
}

/* Tablet */
@media (min-width: 550px) {
  .modal-project {
    width: 500px;
  }
}

/* Desktop */
@media (min-width: 750px) {
  .modal-project {
    width: 720px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .modal-project img {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}
