.modal-technology {
  background-color: white;
  padding: var(--space-small);
}

/* Desktop */
@media (min-width: 750px) {
  .modal-technology {
    --size: 240px;

    width: var(--size);
    height: var(--size);
    padding: var(--space-big);
  }
}
