#modal,
#modal .background {
  position: fixed;
  inset: 0; /* inset is the shorthand for top, botton, right, left: 0 */
}

#modal {
  display: grid;
  place-items: center;
}

#modal .background {
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}
