/**
  About:
  I have refactored the navigation-bar.css by splitting it into 3 files:
  - navigation-bar.css: This file, and the only file that style.css needs to import.
  - navigation-bar/links.css: This file handles only the link part and the show/hide interaction.
  - navigation-bar/main-menu.css: Handles the part with the logo and menu button.

  By splitting the files, each one is less than 50 lines of code, making them very easy to read and improve.
  This will make the bug fixing of Safari a less stressfull experience.
*/

@import url("./navigation-bar/links.css");
@import url("./navigation-bar/main-menu.css");

.navigation-bar {
  z-index: 1; /* to avoid the mouse over on item-project or item-technology appearing on top, when the navbar overlapp those sections*/
  position: fixed;
  width: 100%;
  background-color: var(--color-primary);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.navigation-bar .container {
  padding: 0;
}

/* Desktop */
@media (min-width: 750px) {
  .navigation-bar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--space-medium);
  }
}
