/**
  Bug report.
  I will research about Safari that casuses some movement when i open the menu.
*/
.navigation-bar {
  position: sticky;
  top: 0;
  background-color: var(--color-primary);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

/* User interaction */
.navigation-bar .links.show {
  display: flex;
}

.navigation-bar .links.hide {
  display: none;
}

/* Main menu 🔴 */
.navigation-bar .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-small);
}

.navigation-bar .main-menu .logo {
  height: 32px;
  color: var(--color-secondary);
}

.navigation-bar .main-menu .name {
  display: none;
}

.navigation-bar .main-menu .menu-button {
  min-width: 44px;
  margin-bottom: 0;
  background: none;
  border: none;
}

/* Links 🟢 */
.navigation-bar .links {
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
  padding: var(--space-small);

  background-color: var(--color-text-dark);
}

.navigation-bar .links a {
  color: var(--color-primary);
}

/* Desktop */
@media (min-width: 750px) {
  .navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* Main menu 🔴 */
  .navigation-bar .main-menu .logo {
    margin-right: var(--space-medium);
  }

  .navigation-bar .main-menu .name {
    display: initial; /* initial means go back to the default value */
    color: var(--color-secondary);
  }

  .navigation-bar .main-menu .menu-button {
    display: none;
  }

  /* Links 🟢 */
  .navigation-bar .links {
    display: flex !important; /* overrides the .show */
    flex-direction: row;
    align-items: center;
    background-color: transparent;
  }

  .navigation-bar .links a {
    color: var(--color-secondary);
  }
}
