#contact {
  background-color: var(--color-secondary);
  color: var(--color-text-light);
}

#contact .item-contact {
  margin-bottom: var(--space-medium);
}

/* Desktop */
@media (min-width: 750px) {
  #contact .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-medium);
  }
}
