/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:wght@300&display=swap");

/* Base */
@import url("./base/variables.css");
@import url("./base/typography.css");
@import url("./base/layout.css");

/* Components */
@import url("./components/footer.css");
@import url("./components/navigation-bar.css");
@import url("./components/item-project.css");
@import url("./components/modal.css");

/* Sections */
@import url("./sections/about.css");
@import url("./sections/contact.css");
@import url("./sections/hero.css");
@import url("./sections/projects.css");
@import url("./sections/technologies.css");
