body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: var(--space-big) var(--space-medium);
}

@media (min-width: 750px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 64px var(--space-big);
  }
}
